* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  min-height: 100%;
  min-width: 100%;
}


body {
  width: 100vw;
  height: 100vh;
}


main {
  width: 100%;
  height: 100%;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 500px;
  width: 500px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;

}

img {
  height: 30px;
  width: 30px;


}

h1 {
  font-size: 32px;
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
}

ul {
  list-style: none;
}


.selecionado {
  background-color: hsl(25, 97%, 53%);
}

.botoes button:hover {
  background-color: hsl(217, 12%, 63%);
}

.botoes #submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}