* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  min-height: 100%;
  min-width: 100%;
}


body {
  width: 100vw;
  height: 100vh;
}


main {
  width: 100%;
  height: 100%;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 420px;
  width: 420px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  padding: 40px;

}

img {
  height: 30px;
  width: 30px;
}

.estrelinha {
  width: 55px;
  height: 55px;
  background-color: hsl(217, 15%, 24%);
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estrelinha img {
  height: 20px;
  width: 20px;
}


h1 {
  font-size: 32px;
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  margin-bottom: 15px;

}

p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  font-family: 'Overpass', sans-serif;

}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;



}

.botoes button {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  background-color: hsl(217, 15%, 24%);
  border: none;
}

#submit {
  height: 55px;
  width: 340px;
  border-radius: 30px;
  margin-top: 20px;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border:none;
}

button.selecionado {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.botoes button.selecionado:hover {
  background-color: hsl(25, 97%, 53%);
  
}

.botoes button:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

#submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.ilustracaoThankYou {
  display: flex;
  justify-content: center;
}

.ilustracaoThankYou img {
  width: 130px;
  height: 88px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.avisoDeSelecao {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.avisoDeSelecao p {
  width: 180px;
  height: 30px;
  background-color:hsl(217, 15%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
  
}

.thankYou {
  text-align: center;
  margin-bottom: 20px;
}

.subtitulo {
  text-align: center;
}
